@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Inter:wght@400;600;700&display=swap');

@font-face {
  font-family: 'monument';
  src: url('../../public/fontes/monument-extended-regular.otf');
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
.monument {
  font-family: 'monument';
  letter-spacing: 0.005em !important;
  line-height: 150% !important;
}

p {
  font-family: 'Archivo', sans-serif;
  letter-spacing: 0.005em !important;
  line-height: 150% !important;
}
