.port .port-card {
    transition: 500ms ease-in-out;
    filter: grayscale(1);
}

.port .port-card .title {
    transform: translateX(10px);
    transition: 300ms;
    opacity: 0;
    color: #fff;
}

.port .port-card:hover {
    filter: grayscale(0);
    color: #fff;
    background: #000000;
    padding-left: 40px;
    padding-right: 40px;
}

.port .port-card:hover .title {
    opacity: 1;
    transform: translateX(0);
}

